
@{
    ViewBag.Title = "tinhLuong";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<div class="container-fluid ">
    <h2>Danh sách Tiền Lương</h2>
    <br />
    <br />
    <br />
    <br />
    <h3>@ViewBag.Message</h3>

</div>